Classswork/Day - 1.ipynb
.ipynb_checkpoints/Day - 1-checkpoint.ipynb
demo.py
demo1.ipynb
.ipynb_checkpoints/Day - 2-checkpoint.ipynb
.ipynb_checkpoints/detals-checkpoint.txt
.ipynb_checkpoints/Day - 3-checkpoint.ipynb
__pycache__/math_utils.cpython-312.pyc
.ipynb_checkpoints/Day - 4-checkpoint.ipynb
